<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
							 xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

  <resources cache="true">
    <cfg:filters />
    <cfg:groups>	
		<cfg:group name="CommandsExtensions.Commandset">
        <cfg:fileset>     		  
          <cfg:file type="script">/client/commands/HidePreview.js</cfg:file>
		  <cfg:file type="reference">CommandsExtensions.Interface</cfg:file>
        </cfg:fileset>
        <cfg:dependencies>
          <cfg:dependency>Tridion.Web.UI.Editors.CME</cfg:dependency>
          <cfg:dependency>Tridion.Web.UI.Editors.CME.commands</cfg:dependency>
        </cfg:dependencies>
      </cfg:group>
    </cfg:groups>
  </resources>
  <definitionfiles />
  <extensions>
    <ext:dataextenders/>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls/>
        <ext:listdefinitions/>
        <ext:taskbars/>
        <ext:commands/>
        <ext:commandextensions>
			<ext:commands>		
				<ext:command name="Preview" extendingcommand="HidePreview" />
			</ext:commands>
			<ext:dependencies>
				<cfg:dependency>CommandsExtensions.Commandset</cfg:dependency>
			</ext:dependencies>
		</ext:commandextensions>
        <ext:contextmenus/>
        <ext:lists/>
        <ext:tabpages/>
        <ext:toolbars/>
        <ext:ribbontoolbars/>
      </ext:editorextension>
    </ext:editorextensions>
  </extensions>
  <commands>
	<cfg:commandset id="CommandsExtensions.Interface">
      <cfg:command name="HidePreview" implementation="CommandsExtensions.HidePreview"/>
    </cfg:commandset>	
  </commands>
  <contextmenus />
  <localization />
  <settings>
    <defaultpage/>    
    <navigatorurl/>    
    <editurls/>
    <listdefinitions />
    <itemicons />
    <theme>
      <path>/Theme/</path>
    </theme>
    <customconfiguration/>
  </settings>
</Configuration>
